In [46]:
import pandas as pd
s3_employee_url = "https://fn-uat-server.s3.ap-south-1.amazonaws.com/csv-exports/20231209/export-finops_employees-kwxeultrapllsdbw.csv"
demo_csv = "./employee_demo.csv"
import json

In [48]:
try:
    csv_file = pd.read_csv(demo_csv,delimiter=',',on_bad_lines="skip")
    print(csv_file)
except Exception as e:
    print(f"Error reading Excel file from S3 URL: {e}")

       id first_name    last_name                              email  \
0       1     Janaya       Megany                   jmegany0@mtv.com
1       2      Anett  Widdowfield              awiddowfield1@ibm.com
2       3       Tani     Mathelon             tmathelon2@myspace.com
3       4    Chaunce    Iacovuzzi           ciacovuzzi3@bluehost.com
4       5    Leoline     Collidge      lcollidge4@huffingtonpost.com
..    ...        ...          ...                                ...
995   996     Adiana       Snyder                  asnyderrn@mail.ru
996   997       Wynn     Beastall          wbeastallro@rakuten.co.jp
997   998      Selma      Gasking  sgaskingrp@networkadvertising.org
998   999   Elianore       Sacker           esackerrq@technorati.com
999  1000    Padraig       Lenard                  plenardrr@who.int

          gender  salary  age
0         Female    6396   37
1         Female    9191   28
2         Female    1554   39
3           Male    1594   34
4         Female    6050   25
..           ...     ...  ...
995       Female    7819   45
996         Male    3001   37
997       Female    3716   40
998       Female    7632   43
999  Genderfluid    2433   26

[1000 rows x 7 columns]

In [54]:
# calculate age, salary standard deviation, variance 
describe_result = csv_file.describe()
describe_result

                id        salary          age
count  1000.000000   1000.000000  1000.000000
mean    500.500000   5535.186000    34.709000
std     288.819436   2595.979967     9.104021
min       1.000000   1008.000000    20.000000
25%     250.750000   3237.750000    27.000000
50%     500.500000   5501.000000    34.000000
75%     750.250000   7736.250000    43.000000
max    1000.000000  10000.000000    50.000000

In [55]:
describe_result.to_json()

'{"id":{"count":1000.0,"mean":500.5,"std":288.8194360957,"min":1.0,"25%":250.75,"50%":500.5,"75%":750.25,"max":1000.0},"salary":{"count":1000.0,"mean":5535.186,"std":2595.9799674488,"min":1008.0,"25%":3237.75,"50%":5501.0,"75%":7736.25,"max":10000.0},"age":{"count":1000.0,"mean":34.709,"std":9.1040212106,"min":20.0,"25%":27.0,"50%":34.0,"75%":43.0,"max":50.0}}'

In [66]:
table_form = csv_file.to_json(orient='table', index=False)
print(type(table_form))

<class 'str'>